---
import Github from "../icons/SocialIcons/IcoGithub.astro";
import Link from "../icons/IconsMisc/IcoLink.astro";
interface Props {
  name: string;
  text: string;
  image: string;
  linkProyect: string;
  linkGithub: string;
}

const { name, text, image, linkProyect, linkGithub } = Astro.props;
---

<div
  class="bg-secondary-color flex flex-col gap-5 rounded w-80 h-auto sm:w-96 lg:flex-row lg:h-80 lg:w-[60rem] lg:gap-5"
>
  <a
    class="w-full overflow-hidden cursor-pointer lg:h-full"
    href={linkProyect}
    target="_blank"
    rel="noopener noreferrer"
    aria-label="link"
  >
    <img
      class="w-full h-full hover:scale-105 duration-300 ease-in-out rounded"
      src=`${image}`
      alt=`${name}`
    />
  </a>
  <div class="flex flex-col gap-3 lg:gap-3 justify-center">
    <h3 class="text-3xl font-semibold text-center lg:text-4xl lg:mt-5">
      {name}
    </h3>
    <span class="w-1/2 border-b-2 border-third-color mx-auto"></span>
    <p class="px-5 text-center">
      {text}
    </p>
    <div class="flex justify-center items-center gap-3">
      <a
        href={linkProyect}
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Link to Proyect"
      >
        <Link class="w-10 hover:stroke-third-color ease-in-out duration-300" />
      </a>
      <a
        href={linkGithub}
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Link to Github"
      >
        <Github class="w-10 hover:fill-third-color ease-in-out duration-300" />
      </a>
    </div>

    <span class="w-2/3 border-b-2 border-third-color mx-auto"></span>
    <div class="flex gap-5  justify-center pb-3">
      <slot />
    </div>
  </div>
</div>
