---
//Tech icos
import IcoHTMLA from "../icons/IconsA/IcoHTMLA.astro";
import IcoCSS3A from "../icons/IconsA/IcoCSS3A.astro";
import IcoJavasCriptA from "../icons/IconsA/IcoJavasCriptA.astro";
import IcoReactA from "../icons/IconsA/IcoReactA.astro";
import IcoAstroA from "../icons/IconsA/IcoAstroA.astro";
import IcoTailwindA from "../icons/IconsA/IcoTailwindA.astro";
import IcoTypesCriptA from "../icons/IconsA/IcoTypesCriptA.astro";
import IcoWordpressA from "../icons/IconsA/IcoWordpressA.astro";
import SvgContainer from "./svgContainer.astro";

import ArrowButton from "./ArrowButton.astro";
const ClassIconsA =
  " w-12 transform group-hover:scale-125 ease-in-out duration-200 sm:w-16";
---

<section
  id="Skills/About"
  class="w-screen mt-10 flex flex-col h-auto lg:h-screen 2xl:w-5/6 2xl:m-auto relative"
>
  <span class="h-20 w-full bg-hero-pattern lg:h-28"></span>

  <h2 class="text-3xl font-bold sm:text-5xl mt-10 px-10 lg:text-6xl ">About</h2>
  <article class="mt-2 sm:mt-5 px-10 xl:flex">
    <div class="w-16 h-1 bg-third-color mt-2 float-left mr-4 xl:float-none xl:w-48"></div>
    <p class="text-base lg:text-xl">
      From Argentina, Mar del Plata, I’m a pass ionate frontend developer with a
      love for turning ideas into functional, user-friendly web experiences.
      Programming isn’t just a hobby—it’s a rewarding journey of continuous <span
        class="text-third-color">learning, problem-solving, and creativity</span
      >. I thrive on challenges and aspire to contribute my skills to meaningful
      projects. Let’s build something great together!
    </p>
  </article>
  <h2
    class="text-3xl font-bold text-center mt-5 sm:text-4xl lg:mt-16 xl:text-5xl"
  >
    Skills
  </h2>
  <div class="grid grid-cols-3 grid-rows-2 gap-10 mt-5 m-auto lg:gap-20 lg:flex lg:mx-auto lg:my-10">
    <SvgContainer margin="m-0">
      <IcoHTMLA class={ClassIconsA} />
    </SvgContainer>
    <SvgContainer margin="m-0">
      <IcoCSS3A class={ClassIconsA} />
    </SvgContainer>
    <SvgContainer margin="m-0">
      <IcoJavasCriptA class={ClassIconsA} />
    </SvgContainer>
    <SvgContainer margin="m-0">
      <IcoReactA class={ClassIconsA} />
    </SvgContainer>
    <SvgContainer margin="m-0">
      <IcoTailwindA class={ClassIconsA} />
    </SvgContainer>
    <SvgContainer margin="m-0">
      <IcoAstroA class={ClassIconsA} />
    </SvgContainer>
  </div>
  <h2 class="text-3xl font-bold text-center mt-5 sm:mt-10 xl:text-5xl xl:mt-0">
    currently studying
  </h2>
  <div class="flex justify-center gap-10 mt-5 mb-10">
    <SvgContainer margin="m-0">
      <IcoTypesCriptA class={ClassIconsA} />
    </SvgContainer>
    <SvgContainer margin="m-0">
      <IcoWordpressA class={ClassIconsA} />
    </SvgContainer>
  </div>
  <ArrowButton href="#Portfolio" bottom="bottom-5"/>
</section>
